<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="con_t">
    <h1 style="position: relative; z-index: 4;">
      <span class="row">
        <span class="outline -o" data-emergence="visible">CONTACT</span>
      </span>
      <span class="row">
        <span data-emergence="visible" class="">CONTACT</span>
      </span>
    </h1>
    <h1>
      <span class="row">
        <span class="outline -o" style="transition-delay: .5s" data-emergence="visible">CONTACT</span>
      </span>
    </h1>
    <div class="imgrev luxy-el" data-speed-y="-4.5" data-offset="160" data-emergence="visible" style="transform: translate3d(0px, -42.95px, 0px);">
      <img src="photos/cont2.gif">
    </div>
  </div>
  
  
</body>
</html>

<!--

-->